
:root {
    --font-main: "Ubuntu", sans-serif;
    --page-width: 1000px;
}

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px dashed #ff0000; */
}

p {
    padding: 1rem;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: #333333;
    background-color: #f9f9f9;
}

/* Header & Navigation */
header {
    position: relative;
    background-color: #003366;
    color: #ffffff;
    padding: 3rem 0;
    text-align: center;
        margin-bottom: 5rem;
}

#course-title {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff6d6d;
    padding-bottom: 2rem;

}

nav {
    padding: 1rem;
    background-color: #653b12;
        border-radius: 11px;
    background: #653b12;
    box-shadow:  9px 9px 18px #56320f,
                -9px -9px 18px #744415;
    margin: 0 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li a {
    font-size: 1.2rem;
    display: block;
    color: #464646;
    padding: .75rem;
    text-decoration: none;
    text-align: center;  
    /* background-color: #2d22c1; */
    margin: .5rem;

    border-radius: 1px;
    background: #e0e0e0;
    box-shadow:  3px 3px 6px #bebebe,
                -3px -3px 6px #ffffff;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #ffff00;
    color: #ffd484;

    border-radius: 1px;
    background: #2d22c1;
    box-shadow: inset 3px 3px 6px #261da4,
                inset -3px -3px 6px #3427de;
}

.active {
    color: #ffff00;
}

/* Main Content */
main {
    max-width: var(--page-width);
    margin: 2rem auto;
    padding: 0 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #003366;
    border-bottom: 2px solid #003366;
    display: inline-block;
    width: 100%;
    padding-bottom: 0.5rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* Card Styling */
.card {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ddd;
    width:100%;
    padding-bottom: 3rem;
    border-radius: 11px;
    background: #e0e0e0;
    box-shadow:  9px 9px 18px #bebebe,
                -9px -9px 18px #ffffff;               
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #003366;
    
    /* Curves inward at the top - the requested partner look */
    border-radius: 3rem 3rem 0 0;
    
    z-index: 1;
}


.card h2 {
    background-color: #003366;
    color: #ffffff;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    text-align: center;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 0 3rem 3rem;
}

.card1content,
.card2content {
    padding: 1.5rem;
}

/* Card 1 Specific Content (About Me) */
.card1content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}


/***************************************************/
/* Click Modaler */
/* This comes with modal-click-origin.js */
#img-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000000;
    transition: background 0.5s ease;
    z-index: 9999; /* Ensure it is above the nav (z-index 10) */
}

#img-modal.active {
    background: #000000d9;
}

#modal-content {
    position: fixed;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    object-fit: contain;
    z-index: 10000;
}

/* This is what forces the image to 85% of screen when active */
#img-modal.active #modal-content {
    top: 7.5vh !important;   /* (100 - 85) / 2 */
    left: 7.5vw !important;  /* (100 - 85) / 2 */
    width: 85vw !important;
    height: 85vh !important;
}
/***************************************************/
.me-pic {
    width: 100%;
    height: 100%; /* Ensures the wrapper is as tall as the text columns */
}

#me-pic {
    width: 200px;
    height: 293px;
    display: block;
    position: sticky;
    top: 20px; /* The gap from the top of the screen while scrolling */
    margin: 0 auto;
    margin-top: 1rem;
    border: 3px dashed #ffffff;
}

.me-pic img {
    width: 100%;
    height: auto;
    background-color: #808080;
}

.me-pic figcaption {
    font-style: italic;
    font-size: 0.9rem;
    color: #474747;
}

.about-me p {
    padding: .5rem ;
    margin: 0 1rem;
}

.card1content h3 {
    margin: 1rem 0 0.5rem 0;
    color: #003366;
    text-align: center;
    width: 70%;
    border-bottom: 2px dashed #003366;
}

.flag-pic {
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-right: 0;
    height: 100%;
}

#flag-pic {
    width: 134px;
    height: 145px;
    display: block;
    position: sticky;
    top: 20px; /* The gap from the top of the screen while scrolling */
    margin: 0 auto;
    margin-top: 1.3rem;
    border: 3px dashed #ffffff;
}

.flag-pic img {
    width: 100%;
    height: auto;
    background-color: #808080;
}

.flag-pic figcaption {
    font-style: italic;
    font-size: 0.9rem;
    color: #474747;
}

#about-place {
    padding: .5rem ;
    margin: 0 1rem;
    padding-left: 1rem;
}

.card2content ul {
    list-style: none;
}

.card2content ul li {
    margin-bottom: 0.5rem;
    padding-left: 1.2rem;
    position: relative;
}

.card2content ul li::before {
    content: "•";
    color: #0056b3;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.card2content ul li a {
    color: #00458f;
    text-decoration: none;
}

.card2content ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 3rem;
}

.footer p {
    margin-bottom: 0.5rem;
    color: #ffffff;
}


@media (min-width: 700px) {
    nav {
        position: absolute;
        width: var(--page-width);
        max-width: 95vw;
        z-index: 10;
        left: 50%;
        bottom: 0rem;
        transform: translate(-50%,50%);
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
    }
    .cards {
        display: grid; 
        /* grid-auto-rows: 1fr;  */
        grid-template-columns: auto; 
        grid-template-rows: 1fr 1fr; 
        width: 100%;
    }
    /* grid-area: [row-start] / [column-start] / [row-end] / [column-end]; */
    .card1 { grid-column: 1 / span 1; }
    .card2 { grid-column: 1 / span 1; }

    .card1content { 
    display: grid;
    grid-template-columns: 70px 70px repeat(4, 1fr) 105px 105px;
    grid-template-rows: auto auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    }
    .about-me { grid-area: 1 / 1 / 2 / 7; }
    .me-pic { grid-area: 1 / 7 / 4 / 9; }
    .place-name { grid-area: 2 / 2 / 3 / 7; }
    .flag-pic { grid-area: 3 / 1 / 4 / 3; }
    #about-place { grid-area: 3 / 3 / 4 / 7; }


}

@media (min-width: 900px) {
    .cards {
        grid-template-rows: 1fr; 
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .card1 { grid-column: 1 / span 3; }
    .card2 { grid-column: 4 / span 1; }   


}