@media (min-width: 640px) {

    #course-title {
        margin-right: 214px;
    }
    #menu {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        right: 1rem;
        display: block; /* Override grid-drawer display */
        grid-template-rows: unset; /* Disable drawer animation */
        padding: 1rem;
    }
    
    nav ul {
        align-items: center;
        border: unset;
        flex-wrap: nowrap;
        align-content: center;
        display: flex;  /* deBig Mac */
    }
    
    nav ul li {
        flex: 1 1 100%;
        display: block; /* deBig Mac */
    }
    
    nav ul li:hover {
        border: 1px dashed #0ba2d1;
    }

    nav ul li a {
        font-size: 1.2rem;
        color: #5a0959;
        padding: .75rem;
        text-decoration: none;
        text-align: center;  
    }

    nav ul li a {
        text-decoration: underline;
        text-decoration-color: #ffff00;
        color: #3a301e;
        cursor: pointer;
    }



    /* *************** outlines start *************** */
    /* main {
        outline: 1px dashed blue;
    }
    #figure-grid {
        outline: 1px dashed red;
    }
    figure {
        outline: 1px dashed green;
    } */

    /* **************** outlines end **************** */
}