@media (min-width: 640px) {

    #menu {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        right: 1rem;
        display: block; /* Override grid-drawer display */
        grid-template-rows: unset; /* Disable drawer animation */
        padding: 1rem;
    }
    
    nav ul {
        align-items: center;
        border: unset;
        flex-wrap: nowrap;
        align-content: center;
        display: flex;  /* deBig Mac */
    }
    
    nav ul li {
        flex: 1 1 100%;
        display: block; /* deBig Mac */
    }
    
    nav ul li:hover {
        border: 1px dashed rgb(11, 162, 209);
    }

    nav ul li a {
        font-size: 1.2rem;
        width: 70px;
        color: #5a0959;
        padding: .75rem;
        text-decoration: none;
        text-align: center;  
    }

    nav ul li a {
        text-decoration: underline;
        text-decoration-color: #ffff00;
        color: #3a301e;
        cursor: pointer;
    }

    #figure-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        max-width: 1000px;
        /* grid-gap: 1rem; */
        gap: 1rem;
        place-items: start;
        justify-items: center;
    }

    figure {
        position: relative;
        width: 180px;
        align-items: center;
    }

    figure img {
        position: relative;
        width: 200px;
        height: auto;
        background-color: #8a7d7d;
        margin: 0.5rem;
        /* padding: 1rem 1rem 0 1rem; */
    }

    figcaption {
        font-size: smaller;
    }

    /* *************** outlines start *************** */
    /* main {
        outline: 1px dashed blue;
    }
    #figure-grid {
        outline: 1px dashed red;
    }
    figure {
        outline: 1px dashed green;
    } */

    /* **************** outlines end **************** */
}