@media (min-width: 640px) {

    #menu {
        display: none;
    }
    nav ul {
        align-items: center;
        border: unset;
        flex-wrap: nowrap;
        align-content: center;
        display: flex;  /* deBig Mac */
    }
    
    nav ul li {
        flex: 1 1 100%;
        border: 1px dashed red;
        display: block; /* deBig Mac */
    }
    
    nav ul li:hover {
        border: 1px dashed rgb(11, 162, 209);
    }

    nav ul li a {
        font-size: 1.2rem;
        width: 70px;
        color: #5a0959;
        padding: .75rem;
        text-decoration: none;
        text-align: center;  
    }

    nav ul li a:hover {
        text-decoration: underline;
        text-decoration-color: #ffff00;
        color: #ffd484;
        cursor: pointer;
    }

    #figure-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* grid-gap: 25px; */
        gap: 1rem;
        place-items: start;
        justify-items: center;
    }

    figure {
        position: relative;
        width: 230px;
    }

    figure img {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0.5rem;
    }

    figcaption {
        font-size: smaller;
    }
}