.card {
    outline: 1px solid red; /* test */
    padding: 10px; /* test */

    position: relative;
    max-width: max-content;
    margin: 20px;
}
.card__header {
    outline: 1px solid blue; /* test */
    padding: 10px; /* test */
}

.card__title {
    outline: 1px dashed blue; /* test */
    padding: 10px; /* test */

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Unset on large screens */
    flex-wrap: nowrap;
    align-content: stretch;
}

h2 {
  text-align: center;
}

.card__title > img {
    outline: 1px dashed blue; /* test */
    padding: 10px; /* test */

    position: absolute; /* Unset on large screens */
    top: 3rem;
    right: -calc(50%);
    width:100px;
    height: 100px;
}

.card__body {
    outline: 1px solid green; /* test */
    padding: 10px; /* test */
}

.card__data-list {
    outline: 1px dashed green; /* test */
    padding: 10px; /* test */
}

#weather.card .card__body {
    outline: 1px dashed green; /* test */
    padding-top: 40px; /* 10px; on large screens */
}

.card__row {
    outline: 1px dashed blue; /* test */
    padding: 10px; /* test */
    

    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    align-items: center;

}

.card__label {
    outline: 1px dashed red; /* test */
    padding: 5px; /* test */

    text-align: right;
}

.card__value {
    outline: 1px dashed orange; /* test */
    padding: 5px; /* test */
    
    text-align: left;
    margin: 0 0 0 1rem;
    
}

@media screen and (min-width: 700px) {
    .card__title {
        flex-direction: row;
    }
    .card__title > img {
        position: unset;
        top: unset;
        right: unset;
        width: 48px;
        height: 48px;
    }
    #weather.card .card__body {
        padding-top: 10px;
    }
}
