/* ***************** Click Modaler start ***************** */
/* This comes with modal-click-origin.js */
#img-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000000;
    transition: background 0.5s ease;
    z-index: 9999; /* Ensure it is above the nav (z-index 10) */
    cursor: pointer;
}

#img-modal.active {
    background: #000000d9;
    color: #e4bd76;
}

#modal-content {
    position: fixed;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    object-fit: contain;
    z-index: 10000;
}

/* This is what forces the image to 85% of screen when active */
#img-modal.active #modal-content {
    top: 2.5vh !important;   /* (100 - 85) / 2 */
    left: 2.5vw !important;  /* (100 - 85) / 2 */
    width: 95vw !important;
    height: 95vh !important;
}
/* ****************** Click Modaler end ****************** */